* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper_0 {
  background: url(slider/slide_1.jpg) center center/cover no-repeat;
  -webkit-animation: slide-show 15s 2s infinite forwards;
          animation: slide-show 15s 2s infinite forwards;
}

.wrapper_0_cont {
  background: url(slider/top2.jpg) center center/cover no-repeat;
}

.wrapper_0_serv {
  background: url(slider/top1.jpg) center center/cover no-repeat;
}

@-webkit-keyframes slide-show {
  0% {
    background: url(slider/slide_1.jpg) center center/cover no-repeat;
  }
  20% {
    background: url(slider/slide_2.jpg) center center/cover no-repeat;
  }
  40% {
    background: url(slider/slide_2.jpg) center center/cover no-repeat;
  }
  60% {
    background: url(slider/slide_3.jpg) center center/cover no-repeat;
  }
  80% {
    background: url(slider/slide_3.jpg) center center/cover no-repeat;
  }
  100% {
    background: url(slider/slide_1.jpg) center center/cover no-repeat;
  }
}

@keyframes slide-show {
  0% {
    background: url(slider/slide_1.jpg) center center/cover no-repeat;
  }
  20% {
    background: url(slider/slide_2.jpg) center center/cover no-repeat;
  }
  40% {
    background: url(slider/slide_2.jpg) center center/cover no-repeat;
  }
  60% {
    background: url(slider/slide_3.jpg) center center/cover no-repeat;
  }
  80% {
    background: url(slider/slide_3.jpg) center center/cover no-repeat;
  }
  100% {
    background: url(slider/slide_1.jpg) center center/cover no-repeat;
  }
}

.black {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.central-part {
  max-width: 1500px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.script-logo {
  text-decoration: none;
  font-family: 'Kalam', cursive;
  color: orange;
  padding-left: 10px;
  font-size: 25px;
}

.header-logo {
  background: url(icons_/spasskaya-tower.png) center center/contain no-repeat;
  padding: 25px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 7px;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  background: orange;
  height: 2px;
  width: 0%;
  left: 0;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
  bottom: -5px;
  margin: 0 auto;
}

nav a:hover:before {
  width: 100%;
}

.onslide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.onslide-text {
  color: white;
  font-stretch: extra-condensed;
  width: 100%;
}

.onslide-text h1 {
  font-size: 70px;
}

.onslide-text h2 {
  font-size: 50px;
  margin-bottom: 100px;
}

.onslide-text h3 {
  font-size: 30px;
}

.button {
  background: cornflowerblue;
  width: 150px;
  line-height: 35px;
  text-decoration: none;
  padding: 10px 20px;
  font-stretch: extra-condensed;
  color: white;
  border-radius: 15px;
  -webkit-transition: 500ms;
  transition: 500ms;
  margin: 135px;
}

.circles {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small {
  background: white;
  padding: 5px;
  border-radius: 50%;
  margin: 15px;
}

#big {
  position: relative;
}

#big::before {
  content: "";
  position: absolute;
  border: 3px solid white;
  left: -12.5px;
  bottom: -12.5px;
  margin: auto;
  padding: 15px;
  border-radius: 50%;
}

.wrapper_1 {
  max-width: 1500px;
  margin: auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper_1 h1 {
  color: cornflowerblue;
  font-size: 25px;
  font-stretch: extra-condensed;
  text-align: center;
}

.wrapper_1 h2 {
  font-stretch: extra-condensed;
  text-align: center;
  padding-top: 10px;
}

.contacts-text {
  font-stretch: extra-condensed;
  text-align: left;
  padding-top: 10px;
  margin: 10px 25px;
}

.wrapper_1 h3 {
  font-stretch: extra-condensed;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0px 10px 0px;
}

.contacts-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  background: orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 45%;
}

@media (max-width: 800px) {
  .contacts-block-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contacts-block-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 30px;
  padding: 30px;
  margin: 25px;
}

.contacts-block-item-man {
  background: url(users/man.jpg) center center/cover no-repeat;
  min-height: 222px;
  width: 50%;
}

.contacts-block-item-woman {
  background: url(users/woman.jpg) center center/cover no-repeat;
  min-height: 222px;
  width: 50%;
}

.contacts-block-item h3 {
  font-size: 25px;
  font-weight: 600;
}

.contacts-block-item p {
  font-size: 18px;
  padding: 0px 0px 17px 0px;
}

.contacts-block-item div {
  padding: 10px 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mailstyle {
  text-decoration: none;
}

.us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.us-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 15px 25px 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 47%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .us-info {
    margin: 25px 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.us-info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.us-info-contact-map {
  background: url(icons_/placeholder.png) center center/contain no-repeat;
  padding: 35px;
  margin: 15px;
}

.us-info-contact-mail {
  background: url(icons_/mail.png) center center/contain no-repeat;
  padding: 35px;
  margin: 15px;
}

.us-info-contact-phone {
  background: url(icons_/telephone.png) center center/contain no-repeat;
  padding: 35px;
  margin: 15px;
}

.us-info-contact-script {
  text-decoration: none;
  padding: 10px;
  font-size: 17px;
  margin: 10px;
}

.us-item-tittle {
  font-weight: 500;
  font-size: 20px;
  color: #191932;
  padding-bottom: 10px;
}

[type="password"],
[type^="text"],
[type^="email"] {
  margin-bottom: 10px;
  border: 2px solid orange;
  padding: 20px 20px;
  font-size: 20px;
  width: 99%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form textarea {
  margin-bottom: 10px;
  border: 2px solid orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px;
  width: 99%;
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
}

form label {
  position: relative;
}

label p {
  position: absolute;
  color: #191932;
  top: -3px;
  left: 25px;
  margin: auto;
  font-size: 15px;
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

#ontext {
  top: -80px;
}

#submitbtn-ajax {
  background: #191932;
  color: white;
  padding: 20px 20px;
  width: 99%;
  cursor: pointer;
}

#submitbtn-ajax:hover {
  background: rgba(25, 25, 50, 0.9);
}

.sink-window {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 99999;
}

.sink-window-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.sink-window-small-content {
  width: 350px;
  height: 170px;
  background-color: white;
  border: 2px solid orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.exitbtn {
  background: url(icons_/exit.png) center center/contain no-repeat;
  padding: 15px;
  position: absolute;
  cursor: pointer;
  right: 0px;
  top: 0px;
}

.msg {
  background: url(icons_/send_1.png) center center/contain no-repeat;
  padding: 22px;
  position: absolute;
  bottom: 20px;
  left: -50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes sending {
  100% {
    left: 350px;
  }
}

@keyframes sending {
  100% {
    left: 350px;
  }
}

.msg_animate {
  -webkit-animation: sending 4s 100ms backwards infinite;
          animation: sending 4s 100ms backwards infinite;
}

#ajax-receiver {
  font-size: 20px;
  font-stretch: extra-condensed;
  font-weight: 200;
  text-align: center;
  margin: 35px 10px;
}

.yandex-map {
  border-top: 4px solid orange;
}

.offers {
  margin: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offers-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 33.33333%;
  background: white;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers-item img {
  min-width: 75px;
  height: 75px;
  padding-right: 20px;
}

.offers-item p {
  color: grey;
  padding-top: 10px;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0px;
}

.aboutus-item {
  width: 50%;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  background: orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutus-item-photo {
  min-height: 600px;
  background: url(photos/group.jpg) center center/cover no-repeat;
}

.city-photo {
  min-height: 700px;
  background: url(photos/3_01.jpg) center center/cover no-repeat;
}

.building-photo {
  min-height: 700px;
  background: url(photos/2_02.jpg) center center/cover no-repeat;
}

.masterm-photo {
  min-height: 700px;
  background: url(photos/3_03.jpg) center center/cover no-repeat;
}

.metro-photo {
  min-height: 700px;
  background: url(photos/2_04.jpg) center center/cover no-repeat;
}

#left {
  text-align: right;
}

@media (max-width: 800px) {
  #left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#servpage {
  margin: 0;
}

#servmain {
  margin: 50px 0px 75px 0px;
}

.aboutus-item-text h1 {
  font-size: 25px;
  font-stretch: extra-condensed;
  padding: 20px 0px;
}

.aboutus-item-text p {
  padding: 20px 0px 50px 0px;
}

.aboutus-item-text {
  min-height: 400px;
  padding: 100px 50px;
  color: white;
  font-size: 20px;
}

.info-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 30px;
  line-height: 30px;
}

.info-text p {
  line-height: 30px;
}

.info-button {
  padding: 10px 20px;
  text-decoration: none;
  width: 150px;
  border: 1px solid #ff5e00;
  background: darkorange;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.underline {
  color: grey;
  text-align: center;
  position: relative;
  padding: 70px 0 0 0;
}

.wrapper_1 h1.line::before {
  content: "";
  position: absolute;
  background: orange;
  height: 2px;
  width: 15%;
  left: 0;
  right: 0;
  margin: auto;
  top: 60px;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0px;
}

.photo-block {
  min-width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.photo .one {
  background: url(photos/1.jpg) center/cover no-repeat;
}

.photo .two {
  background: url(photos/2.jpg) center/cover no-repeat;
}

.photo .three {
  background: url(photos/3.jpg) center/cover no-repeat;
}

.photo .four {
  background: url(photos/4.jpg) center/cover no-repeat;
}

.photo .five {
  background: url(photos/5.jpg) center/cover no-repeat;
}

.photo .six {
  background: url(photos/6.jpg) center/cover no-repeat;
}

.photo .seven {
  background: url(photos/7.jpg) center/cover no-repeat;
}

.photo .eight {
  background: url(photos/8.jpg) center/cover no-repeat;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px 0px;
}

.feedback-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  min-width: 50%;
}

.feedback-block-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: italic;
  line-height: 30px;
  padding: 30px;
  background: lightgray;
  color: gray;
  margin: 25px;
}

.feedback-block-user {
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-block-user p {
  padding-left: 25px;
}

.feedback-block-user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menu-button {
  width: 30px;
  height: 30px;
  margin: 15px 30px;
  display: none;
  cursor: pointer;
  z-index: 99999;
}

.menu-button-stick {
  width: 100%;
  height: 4px;
  margin: 6px 0;
  background: white;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.opacity {
  opacity: 0;
}

.stick-rotate-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.stick-rotate-bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.sink-menu {
  width: 300px;
  height: 600px;
  border: 3px solid darkorange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: orange;
  right: 0;
  display: none;
  margin: auto;
  position: absolute;
  z-index: 88888;
}

.sink-menu-list {
  padding: 70px 50px;
}

.sink-menu-list a {
  font-size: 25px;
  color: white;
  margin: 20px;
  line-height: 50px;
  text-decoration: none;
}

@media (max-width: 900px) {
  nav {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

footer {
  background: #191932;
}

.footer-central-part {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  margin: 50px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-block-contacts {
  padding: 25px 0px;
}

.footer-block-contacts div {
  margin: 20px 0px;
}

.footer-block-contacts-map {
  background: url(icons_/placeholder.png) center center/contain no-repeat;
  padding: 17px;
}

.footer-block-contacts-mail {
  background: url(icons_/mail.png) center center/contain no-repeat;
  padding: 17px;
}

.footer-block-contacts-phone {
  background: url(icons_/telephone.png) center center/contain no-repeat;
  padding: 17px;
}

.footer-block-contacts-script {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 17px;
}

.footer-block-text {
  max-width: 300px;
  line-height: 25px;
  font-size: 15px;
  color: gray;
  padding: 25px 0px;
}

.footer-block-title {
  font-size: 25px;
  color: white;
}

.footer-block-date {
  color: #1fa9cc;
}

.copyright {
  background: #0f0f1e;
}

.copyright-central-part {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.copyright-central-part div {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 35px;
  margin: 25px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.copyright p {
  color: white;
}

.fb {
  background: url(social/facebook.png) center center/contain no-repeat;
  padding: 15px;
}

.vk {
  background: url(social/vk.png) center center/contain no-repeat;
  padding: 15px;
  margin: 7px;
}

.inst {
  background: url(social/instagram.png) center center/contain no-repeat;
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */